/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
body{
    display: flex;
    position: absolute;
    top: 300px;
    left: 25vw;
    background-color: #303030;
}

.Timers {
    background-color: white;
    padding: 4px;
    width: 120px;
    height: 120px;
    border-radius: 10px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}


.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 40vw;
}